{% from "components/header/clock.njk" import clock %}
{% from "components/header/refresh-button.njk" import refreshButton %}
{% from "components/header/weather.njk" import weather %}
{% from "components/header/fullscreen-buttton.njk" import fullscreenButton %}

{% from "components/song-data.njk" import songData %}
{% from "components/volume.njk" import volume %}
{% from "components/favorites-button.njk" import favoritesButton %}
{% from "components/full-playlist-button.njk" import fullPlaylistButton %}
{% from "components/popular-button.njk" import popularButton %}
{% from "components/search.njk" import searchButton,
searchModal %}
{% from "components/artist-spotlight/artist-spotlight.njk" import artistSpotlight %}

{% extends "_includes/default.njk" %}

{% block title %}{% this_is_dev_server %}College Music{% endblock %}

{% block content %}
    <main id="main" class="sm:my-4 lg:my-0 xl:my-4 sm:rounded-lg lg:rounded-none xl:rounded-lg space-y-4 relative overflow-hidden z-0 framing">
        <header class="flex flex-wrap justify-between items-center w-full p-2 sm:pt-8 sm:px-8 relative text-white">
            <h1 class="text-white inline">
                <a href="/">College Music |
                <span class="font-semibold">Lofi Hip Hop Radio</span></a>
            </h1>
            <span class="flex flex-wrap items-center space-x-2 h-8">
                {{ clock() }}
                {{ refreshButton() }}
                {{ weather() }}
                {{ fullscreenButton() }}
            </span>
        </header>

        <div class="hello-container space-y-4 lg:space-y-0 px-2 sm:px-8">
            <div id="video" class="relative">
                <a href="#chat" class="skip-link">Skip to Chat</a>
                <div class="video-container aspect-w-16 aspect-h-9">
                    <div title="Youtube video radio stream" class="rounded-sm" id="player"></div>
                </div>
            </div>
            <div id="chat" class="hidden sm:block relative">
                <a href="#content" class="skip-link">Skip to Content</a>
                <div class="chat-container aspect-w-1 aspect-h-1">
                    <iframe x-data title="Youtube live chat" class="rounded-sm" width="480" height="480" referrerpolicy="origin" :src="window.matchMedia('(min-width: 640px)').matches ? `https://www.youtube.com/live_chat?v=MCkTebktHVc&embed_domain=${ window.location.hostname }&dark_theme=1` : ''" src="" allow="autoplay; encrypted-media" id="chat-embed" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div id="content" class="flex flex-col space-y-4 lg:flex-row lg:justify-between lg:space-y-0 lg:space-x-8 pb-8 px-2 sm:px-8">
            {{ songData() }}

            <div id="controls" class="flex flex-col justify-start p-2 sm:pt-4 text-white w-full lg:w-72">
                {{ volume() }}
                <div class="grid grid-flow-row grid-cols-2 sm:pt-2 lg:grid-cols-1 xl:grid-cols-2 gap-2">
                    {{ favoritesButton() }}
                    {{ fullPlaylistButton() }}
                    {{ popularButton() }}
                    {{ searchButton() }}
                </div>
            </div>

            {{ artistSpotlight() }}
        </div>
        <div class="z-20">
            <a href="#main" class="skip-link focus:bottom-0 focus:top-auto">Back to top</a>
        </div>
        <img id="pink-wave" alt="" src="/static/pink-wave.svg" class="absolute max-w-none left-0 bottom-0 -z-10"/>
        <img id="purple-wave" alt="" src="/static/purple-wave.svg" class="absolute max-w-none -left-6 bottom-0 -z-10"/>
        <img id="blue-wave" alt="" src="/static/blue-wave.svg" class="absolute max-w-none -right-12 bottom-0 -z-10"/>
    </main>
    {{ searchModal() }}
{% endblock %}