<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Does it work?{% endblock %}
        </title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Live lofi radio for College Music."/>
        <link rel="canonical" href="{% base_url %}{{ page.url }}"/>
        <meta name="keywords" content="lofi,radio,college music,college,studying,release,record label">
        <meta name="subject" content="Radio">
        <meta name="rating" content="General">
        <meta name="web_author" content="Caleb Jasik">
        <meta name="language" content="en">
        <meta name="geo.placename" content="London">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <meta property="og:site_name" content="College Music"/>
        <meta property="og:image:width" content="279">
        <meta property="og:image:height" content="279">
        <meta property="og:title" content="College Music">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Live lo-fi radio for College Music.">
        <meta property="og:url" content="{% base_url %}">
        <meta property="og:image" content="{% base_url %}/og-image.png">
        <meta property="og:image:type" content="image/png"/>
        <meta property="og:image:alt" content="Large C and M, white on a pastel orange and blue paint splotch">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@CollegeMusicYT">
        <meta name="twitter:url" content="{% base_url %}">
        <meta name="twitter:title" content="College Music">
        <meta name="twitter:description" content="Live lofi radio web app">
        <meta name="twitter:image" content="{% base_url %}/og-image.png">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="application-name" content="College Music"/>
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=kPLgG3mqdx">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=kPLgG3mqdx">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=kPLgG3mqdx">
        <link rel="manifest" href="/site.webmanifest?v=kPLgG3mqdx">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=kPLgG3mqdx" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=kPLgG3mqdx">
        <meta name="msapplication-TileColor" content="#2F1F60">
        <meta name="msapplication-config" content="/browserconfig.xml?v=kPLgG3mqdx">
        <meta name="theme-color" content="#2F1F60">

        <link rel="stylesheet" href="/style.css?v={% version %}"/>
        <link rel="preconnect" href="https://openweathermap.org"/>
        <link rel="preconnect" href="https://geolocation-db.com"/>
        <link rel="preconnect" href="https://youtube.com"/>
        <link rel="preconnect" href="https://www.gstatic.com"/>
        <link rel="preconnect" href="https://apis.google.com"/>
        <link rel="preconnect" as="script" href="/js/spruce.umd.js?v={% version %}"/>
        <link rel="preconnect" as="script" href="/js/site.js?v={% version %}"/>
        <link rel="preconnect" as="script" href="/js/alpine.js?v={% version %}"/>
        <link rel="preconnect" as="script" href="https://www.youtube.com/iframe_api"/>
        <script>
            var tag = document.createElement("script");
            tag.id = "iframe-api";
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName("script")[0];
            firstScriptTag
                .parentNode
                .insertBefore(tag, firstScriptTag);
        </script>

        {% block head %}{% endblock %}
    </head>
    <body x-data :class="{ 'overflow-hidden': $store.search.open, 'overflow-auto': !$store.search.open }" class="overflow-auto sm:min-h-screen sm:flex sm:justify-center sm:items-center background">
        {% block content %}
            {{ content | safe }}
        {% endblock %}

        <script src="/js/spruce.umd.js?v={% version %}"></script>
        <script src="/js/alpine.js?v={% version %}"></script>
        <script src="/js/site.js?v={% version %}"></script>

    </body>
</html>