@tailwind base;

[x-cloak] {
  @apply hidden;
}

:focus:not(:focus-visible) {
  outline: none;
}

/** styling the scrollbar **/
html {
  --scrollbarBG: rgb(0, 0, 0, 0.1);
  --thumbBG: rgb(0, 0, 0, 0.4);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/** styling the volume slider **/
input[type="range"] {
  width: 100%;
  margin: 5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #9013fe;
  border: 0.2px solid #010101;
  border-radius: 5px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -5.2px;
  width: 17px;
  height: 17px;
  background: #9fa2fb;
  border: 0;
  border-radius: 17px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #9c2cfe;
}
input[type="range"]::-moz-range-progress {
  background: #9013fe;
  border: 0.2px solid #010101;
  border-radius: 5px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 5px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  background: #9fa2fb;
  border: 0;
  border-radius: 17px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  width: 100%;
  height: 7px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #8401f6;
  border: 0.2px solid #010101;
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  width: 17px;
  height: 17px;
  background: #9fa2fb;
  border: 0;
  border-radius: 17px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #9013fe;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #000;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.background {
  background: linear-gradient(71.61deg, #693a88 -2.65%, #37416d 90.64%);
}

.framing {
  background: linear-gradient(180deg, #2f1f60 0%, #460e62 100%);
}

@media (min-width: 1024px) {
  .hello-container {
    display: grid;
    grid-template-columns: 64fr 36fr;
    gap: 2rem;
    max-width: 70vw;
    max-width: calc(
      (350px * 2.9423868313) + 2rem
    ); /* this is setting the height of the video and chat by proxy since they are percentages based off the width */
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  min-width: 298px;
}

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  min-width: 298px;
}

.chat-container embed,
.chat-container iframe,
.chat-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.now-playing {
  position: relative;
  background: linear-gradient(180deg, #8dc4fc 0%, #e0c3fc 100%);
  height: 5.4rem;
  margin-top: 2rem;
}

.now-playing-album-art {
  position: absolute;
  height: 6rem;
  width: 6rem;
  bottom: 0.5rem;
  left: 0.75rem;
}

@media (min-width: 640px) {
  .now-playing-album-art {
    left: 1rem;
  }
}

.play-history {
  background: linear-gradient(180deg, #8ec5fc 0%, #e0c3fc 100%);
  height: 180px;
}

.play-history-header {
  background: rgba(18, 21, 96, 0.17);
}

.song-block {
  min-height: calc(90px - 1rem);
  scroll-snap-align: start;
  background: linear-gradient(to bottom, transparent, rgba(18, 21, 96, 0.17));
}

.song-block-container {
  height: calc(180px - 2rem);
  scroll-snap-type: y mandatory;
}

@media (min-width: 1024px) {
  .artist-spotlight {
    max-width: 25rem;
  }
}

.artist-spotlight h2 svg {
  left: 0.925rem;
  top: -0.575rem;
}

.artist-hero {
  min-height: 130px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.artist-hero:hover,
.artist-hero:focus-within {
  @apply shadow-2xl;
  @apply transform;
  @apply scale-110;
}

.kyle-mcevoy {
  background-color: #4fc2e8;
  background: url("/static/kyle_mcevoy.png") bottom center no-repeat;
  background: url("/static/kyle_mcevoy.png") bottom center no-repeat,
    linear-gradient(
      89.71deg,
      #4fc2e8 0.35%,
      #4fc2e8 31.97%,
      #41b0d8 85.87%,
      #36a8ce 99.86%
    );
  background-size: cover;
}

.kalaido {
  background-color: #f0dac4;
  background: url("/static/kalaido.png") bottom center no-repeat;
  background: url("/static/kalaido.png") bottom center no-repeat, #f0dac4;
}

.kalaido::before {
  content: "";
  background-color: #f0dac4;
}

.wei {
  background-color: #f8b6b3;
  background: url("/static/wei.png") bottom center no-repeat;
  background: url("/static/wei.png") bottom center no-repeat, #f8b6b3;
  background-size: cover;
}

.santpoort {
  background-color: #f8b6b3;
  background: url("/static/santpoort.png") bottom center no-repeat;
  background: url("/static/santpoort.png") bottom center no-repeat,
    linear-gradient(180deg, #f8b6b3 0%, #7d5d5c 100%);
}

.santpoort::before {
  content: "";
  background-color: #f8b6b3;
  background: linear-gradient(180deg, #f8b6b3 0%, #7d5d5c 100%);
}

.eillah {
  background-color: #f372e6;
  background: url("/static/eillah.png") bottom center no-repeat;
  background: url("/static/eillah.png") bottom center no-repeat,
    linear-gradient(180deg, #eae9ff 0%, #f372e6 95.31%, #43488e 100%);
}

.brillon {
  background-color: #f8b6b3;
  background: url("/static/brillon.png") bottom center no-repeat;
  background: url("/static/brillon.png") bottom center no-repeat, #f8b6b3;
  background-size: cover;
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  @responsive {
    @variants hover, focus {
      .text-shadow-sm {
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      }
      .text-shadow {
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      }
      .drop-shadow {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .drop-shadow-white {
        filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
      }
    }
  }
}
